<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Add</title>
</head>
<body>
    <div class="container">
        <h1>Employee Add</h1>
        <form method="post" action="/grp/addEmp">
            <input type="text" required name="username" /><br/>
            <input type="text" required name="email" /><br/>
            <input type="text" required name="passwd" /><br/>
            <input type="submit" value="Add Employee"/>
        </form>
    </div>
</body>
</html>