<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <a href="/grp/addEmp">Add Employee</a>
        <h1>Employee List</h1>
        <table>
            <thead>
                <tr>
                    <th>EmpNo.</th>
                    <th>Emp Username.</th>
                    <th>Emp Email.</th>
                    <th>Emp Password.</th>
                    <th>Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
<!--            th:(thymeleaf로) each(반복문)-->
<!--            <tr th:each="별명:${Controller 변수값}">   -->
<!--            빨간줄 떠서 xmlns:th="http://www.thymeleaf.org" 위에 써줬음..-->
                <tr th:each="emp:${empList}">
                    <td th:text="${emp.id}"></td>
                    <td th:text="${emp.username}"></td>
                    <td th:text="${emp.email}"></td>
                    <td th:text="${emp.passwd}"></td>
                    <td>Edit /<a th:href="@{/grp/deleteEmp(id=${emp.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>