<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <a href="/grp/addEmp">Add Employee</a>
        <h1>Employee List</h1>
        <table>
            <thead>
                <tr>
                    <th>EmpNo.</th>
                    <th>Emp Username.</th>
                    <th>Emp Email.</th>
                    <th>Emp Password.</th>
                    <th>Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit / Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>